
.pure-menu.pure-menu-open, .pure-menu.pure-menu-horizontal li .pure-menu-children {
	background:#ccc;
}
.pure-menu-heading {

}

.pure-g-r .spacer {
	margin:0 20px;
}


ul.calendar-grid {
	width:80%;
	margin:2em auto;
	list-style-type: none;
}
ul.calendar-grid li {
	position:relative;
	list-style-type: none;
	display:block;
	width:13%;
	height:2em;
	margin:.14%;
	float:left;
	text-align:center;
	color:#bbb;
}
ul.calendar-grid li a {
	display:block;
	height:100%;
	width:100%;
	background:#bbb;
	color:#fff;
}
ul.calendar-grid li a:hover {
	background:#ddd;
}
ul.calendar-grid li a.complete {
	background:#36cb32;
}
ul.calendar-grid li a.complete:hover {
	background:#39db36;
}
ul.calendar-grid li.divider {
	background:#fff;
	width:100%;
}
.modal {
	background:#fff;
	position:absolute;
	top:10%;
	left:30%;
	width:400px;
	border:1px solid #999;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	border-radius:10px;
}
.hide {
	display:none;
}
.modal .modal-header {
	width:90%;
	border-bottom:1px solid #bbb;
	padding:5%;
}
.modal .modal-header h3 {
	letter-spacing: 0;
}
.modal .modal-body {
	width:90%;
	padding:1em 5%;
}
.modal .pure-form-stacked {
	margin:0 auto;
}
.modal .pure-form-stacked input {
	margin-bottom:1em;
	letter-spacing: 0;
	float:none;
}
.modal .pure-form-stacked input[type=text], .modal .pure-form-stacked textarea {
	width:80%;
}
.modal .pure-form-stacked label {
	letter-spacing:0;
	margin-bottom:2em;
}
.modal .modal-footer {
	width:90%;
	padding:1em 5%;
	border-top:1px solid #bbb;
	letter-spacing: 0;
	text-align:right;
}
.alert {
	width:90%;
	padding:5%;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	border-radius:10px;
	color:#fff;
	letter-spacing: 0;
}
.alert.alert-success {
	background:#39db36;
}
